.App {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generator {
  background-color: #b5cefc;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(245, 244, 244, 0.863);
  padding: 30px;
}
.generator__header {
  text-align: center;
  color: rgb(0, 50, 100);
  margin-bottom: 20px;
}
.generator__password {
  background-color: #30468d;
  padding: 13px 10px;
  color: #fff;
  margin-bottom: 15px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}
.copy__btn {
  color: #fff;
  background: #30468d;
  border: none;
  cursor: pointer;
}
.generator__btn {
  background: #30468d;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
}
.form-group {
  display: flex;
  justify-content: space-between;
  color: gre;
  margin-bottom: 15px;
}

.prev-passwords {
  padding: 15px;
  height: 20px;
}
.prev-passwords > h3 {
  display: flex;
  justify-content: center;
}

.prev-passwords > ul {
  display: flex;
}

.prev-passwords > ul > li {
  cursor: pointer;
  display: flex;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  background-color: #30468d;
  border: 2px solid black;
  color: white;
}
